<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <h1> About Me </h1>
    <ol>
        <li> I am Lim Wanzhen </li>
        <li> Admin Number 190525R </li>
        <li> You are currently reading my 'About Me' page of my Applied Cryptography Assignment </li>
        <li> For more information of for this site works, please click <a href = '/documentation'> here </a> </li>
        <li>I like bread</li>
        <li>This is a filler section.</li>
    </ol>
</head>
<body>

</body>
</html>
