{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1> Learning Objectives </h1>
        <p> What you will be learning: </p>
        <ul>
            <li> Why do we need to encrypt our messages and information on the Internet?</li>
            <li> What are the consequences of the lack of security? </li>
            <li> What is a Trusted System? </li>
            <li> What is a Reference Monitor and what are some applications of Reference Monitors do you see in your daily lives?</li>
            <li> What is <span style="font-style:italic;"> uhufhun wvsf </span> decrypted using Shift Cipher, using shift 7?</li>
            <li> How does Rail Fence and Vernam Cipher works? </li>
            <li> Encrypting ECB, CBC, CFB, OFB </li>
            <li> Decrypting ECB, CBC, CFB, OFB </li>
        </ul>
    </div>
</article>
{% endblock content %}

