{% extends "layout.html" %}
{% block content %}
<h1> Security Management Practices </h1>
<article class="media content-section">
    <div class="media-body">
        <div style="align-items: center; justify-content: center;">
            <h3>What are the 4 key characteristics of a good security policy? </h3>
            <ol>
                <li>Affordability:</li>
                <ul>
                    <li>cost and effort in implementation</li>
                </ul>
                <li>Functionality:</li>
                <ul>
                    <li>mechanism of providing security</li>
                </ul>
                <li>Cultural issues:</li>
                <ul>
                    <li>whether the policy gels with people's expectations, working style and beliefs</li>
                    <li>eg. in the use of email, Whatsapp and Facebook at work</li>
                </ul>
                <li>Legality:</li>
                <ul>
                    <li>whether the policy meets legal requirements</li>
                    <li>e.g. use of 2FA in Internet banking</li>
                </ul>
            </ol>
        </div>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div style="align-items: center; justify-content: center;">
            <h3>How to successfully implement a security policy?</h3>
            <ol>
                <li>Explain the policy to all concerned</li>
                <ul>
                    <li>The relevant stakeholders understand the need for the policy;</li>
                    <li>We are able to get their buy-in</li>
                </ul>
                <li>Outline everybody's responsibilities</li>
                <ul>
                    <li>All relevant stakeholders know what and how they are protecting the information.</li>
                </ul>
                <li>Use simple language in all communications</li>
                <ul>
                    <li>All relevant stakeholders understand the policy without doubts.</li>
                </ul>
                <li>Establish accountability</li>
                <ul>
                    <li>so that all relevant stakeholders know what they are accountable for</li>
                </ul>
                <li>Provide for exceptions and periodic reviews</li>
                <ul>
                    <li>The policy can be continuously updated and improved.</li>
                </ul>
            </ol>
        </div>
    </div>
</article>

{% endblock content %}
